.subsection__header__container__form {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.eventForm__title {
  color: #c7ef00;
  background-color: #214f4b;
  padding: 0.5rem;
  border-radius: 15px;
}

.eventForm {
  margin: 2% 12%;
  padding: 3% 8%;
  border: #214f4b 3px solid;
  border-radius: 25px;
  background-color: white;
  /* background-color: #7daa92; */
}

/* label {
  color: #214f4b;
} */

.multiselect {
  background-color: white;
}

.button__gorup {
  display: flex;
  justify-content: flex-end;
}

.cancel__button,
.save__button,
.delete__button {
  /* background-color: #214f4b; */
  background-color: #7daa92;
  color: white;
  padding: 0rem 0.75rem;
  border-radius: 5rem;
  border: #214f4b 3px inset;
}

.cancel__button:hover,
.save__button:hover {
  background-color: #c7ef00;
  color: #214f4b;
  padding: 0rem 0.75rem;
  border-radius: 5rem;
  border: #7daa92 3px inset;
}

.delete__button:hover {
  background-color: #bb4430;
  color: white;
}

.button__container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
}
