.subsection__header__container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #7daa92;
}

.event__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #7daa92;
}

.event {
  border: #214f4b 3px solid;
  border-radius: 25px;
  padding: 1rem;
  margin: 0.5rem;
  width: 20rem;
  flex-basis: auto;
  background-color: white;
}

.winner {
  color: #214f4b;
  background-color: goldenrod;
  /* opacity: 0.75; */
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.event__participant__past {
  padding: 0.5rem;
  margin: 0.5rem;
}

.event__participants__label {
  padding: 0.25rem 0rem;
}

.time__input {
  max-width: 50%;
}

/* .button {
  padding: 0.25rem;
  border-radius: 40%;
} */

.button__edit {
  background-color: #214f4b;
  color: white;
}

.button__edit:hover {
  background-color: #c7ef00;
  color: #214f4b;
}

.time__edit {
  background-color: #214f4b;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.time__edit:hover {
  background-color: #c7ef00;
  color: #214f4b;
}
