@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

head,
body {
  font-family: "Poppins", sans-serif;
  background-color: #7daa92;
}

document {
  background-color: #7daa92;
}
